name: Java CI with Maven

on:
  push:
    branches:
      - main
      - branch_dev_1  # Asegúrate de que tu rama esté incluida
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Paso 1: Hacer checkout del código
      - name: Checkout code
        uses: actions/checkout@v2

      # Paso 2: Configurar JDK (Java 17)
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'

      # Paso 3: Cache de dependencias Maven
      - name: Cache Maven dependencies
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # Paso 4: Ejecutar la construcción y los tests con Maven
      - name: Build with Maven
        run: mvn clean install

      # Paso 5: Ejecutar los tests
      - name: Run tests
        run: mvn test
